.header
  .header-top
    .header-top_text1
      - if user_signed_in?
        = link_to "L O G O U T", new_user_session_path
      - else
        = link_to "L O G I N", new_user_session_path
  .header-main
    .header-main_log
      = image_tag "/header-log.png"
    .header-main_content
      .content-text
        トップ　｜　用品　｜  キャンプ場　｜　ご利用ガイド
.main
  = image_tag "/back-img.jpg"
  .main-text
    %li キャンプを
    %li 　もっと手軽に。
    %li 　　もっとスマートに。
  