.card-contents {
  height: 350px;
  width: 700px;
  margin: 30px auto 160px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgb(241, 239, 239);
  text-align: center;
  .card-content {
    margin-top: 50px;
  }
  .purchase-button {
    background-color: #ccc;
    height: 30px;
    width: 150px;
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #ccc;
    line-height: 30px;
    a {
      color: #313030;
      cursor: pointer;
      font-weight: 600;
    }
  }
}
button {
  width: 70px;
  height: 24px;
  background-color: #ea352d;
  border-radius: 3px;
  border: 1px solid #ea352d;
  color: #ffffff;
  cursor: pointer;
  top: 50%;
}
