.user-body{
  background-image: url('/user1.jpg');
  height: 100vh;
  width: 100%;
  background-size: cover;
  opacity: 0.85;
  img{
    height: 150px;
  }
  h2{
    color: white;
    text-align: center;
    text-shadow: rgb(0, 0, 0) 1px 1px 6px;
  }
  .field{
    color: white;
    text-align: center;
    font-size: 20px;
    text-shadow: rgb(0, 0, 0) 1px 1px 6px;
    input{
      height: 20px;
    }
    #user_email{
      width: 230px;
    }
  }
  .actions{
    text-align: center;
    margin-top: 1rem;
    input{
    height: 30px;
    width: 100px;}
  }
  a{
    font-size: 30px;
    margin-top: 20px;
    display: block;
    text-align: center;
    color: white;
    text-decoration: none;
  }
}